.checkbox-container {
    display: flex;
    align-items: center;
}
.checkbox-container .checkbox {
    min-height: 28px;
    min-width: 28px;
    height: 28px;
    width: 28px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.checkbox-container .checkbox.disabled {
    border: 1px solid #dbdbdb;
}
.checkbox-container .checkbox .tick {
    height: 80%;
    width: 80%;
    background-color: transparent;
    border-radius: 3px;
}
.checkbox-container .checkbox .tick.checked {
    background-color: var(--primary-color);
}
.checkbox-container .checkbox-children {
    margin-left: 12px;
    line-height: 1.25;
}
