.date-range-picker-container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 6px 16px;
}

.CalendarDay {
    vertical-align: middle;
}

.CalendarDay__selected_span {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    opacity: 0.85;
    // color: white;
}

.CalendarDay__selected_span:hover {
    border: 1px solid #e4e7e7;
    color: #484848;
    background: #e0e0e0;
}

.CalendarDay__selected {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    // color: white;
}

.CalendarDay__selected:hover {
    background: var(--primary-color);
    color: #484848;
    border: 1px solid #e4e7e7;
    background: #e0e0e0;
    // color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    opacity: 0.85;
    color: white;
}

.DateRangePickerInput {
    border: none;
    background-color: transparent;
}

.DateInput {
    width: 100px;
    background-color: transparent;
}

.DateInput_input {
    font-weight: 400;
    font-size: 14px;
    padding: 8px 16px;
    text-align: center;
    background-color: transparent;
}

.DateRangePickerInput_arrow_svg {
    height: 18px;
    width: 18px;
}

.DateRangePickerInput_clearDates {
    margin: 0px 5px;
}
