.input {
    font-size: 16px;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 12px 16px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #f7f7f7;
}
.input.error {
    border: 1px solid var(--error-color);
    background-color: #fafafa;
}
.input.disabled {
    background-color: #eee;
}
.input::placeholder {
    color: #333;
}
