.menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 48px;
    z-index: 103; /* above homeNav and modal  */
    background-color: var(--background-color);
}

.menu-header {
    display: flex;
    justify-content: space-between;

    .menu-logo {
        height: 80px;
    }
}

.menu-tab-wrapper {
    .menu-tab {
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;

        .menu-tab-icon {
            font-size: 24px;
        }

        .menu-tab-text {
            margin-left: 24px;
        }
    }

    .menu-subTab {
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: 500;

        .menu-subTab-text {
            margin-left: 48px;
        }
    }
}

.menu-tab-customer-display {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    .menu-tab-icon-customer-display {
        font-size: 24px;
    }

    .menu-tab-text-customer-display {
        margin-left: 24px;
    }
}

.menu-tab-exit {
    color: transparent;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    .menu-tab-icon-exit {
        font-size: 24px;
    }

    .menu-tab-text-exit {
        margin-left: 24px;
    }
}
