.item-added-updated-modal {
    padding: 0 78px 78px 78px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .image {
            height: 200px;
        }
    }
}
