.product-modal {
    display: flex;
    flex-direction: column;
    height: 100%;

    .product {
        flex: 1;
        padding: 0 84px 84px 84px;
        overflow: scroll;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .description {
            white-space: pre-line;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.5em;
        }

        .modifier {
            &.sold-out {
                opacity: 0.5;
            }

            .collapsed-stepper-container {
                display: flex;
                align-items: center;

                .collapsed-stepper {
                    cursor: pointer;
                    border: 1px solid #c8c8c8;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .collapsed-stepper-children {
                    line-height: 1.5;
                }
            }

            .modifier-item-wrapper {
                width: 100%;

                .modifier-item {
                    display: flex;
                    align-items: center;

                    .image {
                        height: 120px;
                        border-radius: 8px;
                        object-fit: cover;
                    }

                    .quantity-remaining {
                        padding: 5px 10px;
                        background-color: var(--primary-color);
                        color: #ffffff;
                        border-radius: 5px;
                        font-size: 12px;
                    }

                    .product-modifier-chevron-right {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .product::-webkit-scrollbar {
        display: none;
    }

    .footer {
        padding: 24px;
        border-top: 1px solid rgb(224, 224, 224);

        .stepper {
            width: 140px;
            margin-left: auto;
            margin-right: auto;
        }

        .footer-buttons-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .add-update-order-button {
            width: 350px;
        }

        .cancel-button {
            background-color: #ffffff;
            color: #484848;
            border: 1px solid #e0e0e0;
            width: 350px;
        }
    }
}
