.promo-code-modal {
    .j-content-end {
        .cancel-button {
            background-color: #ffffff;
            color: #484848;
            border: 1px solid #e0e0e0;
            width: 350px;
            font-size: 22px;
        }
    }
}

.reward-promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.reward-promotion-name {
    flex: 1;
    text-align: left;
}
