.table-number {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 152px;

    .table-image {
        height: 400px;
        border-radius: 10px;
    }

    .covers-wrapper {
        display: inline-block;
    }

    .close-button-wrapper {
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;

        .close-button {
            color: #484848;
        }
    }
}
