.begin-order {
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.begin-order .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}
.begin-order .order-here-text-wrapper {
    font-size: 84px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
}
.begin-order .order-here-text-wrapper .order-text {
    margin-bottom: 16px;
}
.begin-order .order-here-text-wrapper .here-text {
    font-size: 156px;
    color: var(--primary-color);
}
.begin-order .touch-to-begin-wrapper {
    position: absolute;
    bottom: -75px;
    background-color: #fff;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;
    text-align: center;
    padding-top: 32px;
    box-shadow: "0 50px 100px -20px rgba(50,50,93,0.25);
    0 30px 60px -30px rgba(0,0,0,0.3)";
}
.begin-order .touch-to-begin-wrapper .icon {
    height: 76px;
    margin-bottom: 24px;
}
.begin-order .advertisements-wrapper {
    pointer-events: none;
}
.begin-order .advertisements-wrapper .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 332px 42px 148px 42px;
}
.begin-order .advertisements-wrapper .slide-animation {
    animation: advertisementBlinker 6s linear infinite;
}
.begin-order .advertisements-wrapper .slide-animation.active {
    display: flex;
}
.begin-order .advertisements-wrapper .slide-animation.inactive {
    display: none;
}
.begin-order .advertisements-wrapper .image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
@keyframes advertisementBlinker {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.begin-order-default {
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.begin-order-default .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 32px;
    overflow: auto;
}
.begin-order-default .container .wrapper {
    color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.begin-order-default .container .wrapper .order-text {
    font-size: 128px;
    margin-bottom: 48px;
}
.begin-order-default .container .wrapper .here-text {
    font-size: 220px;
    font-weight: bold;
    margin-bottom: 48px;
}
.begin-order-default .container .wrapper .and-pay-text {
    font-size: 128px;
    margin-bottom: 300px;
}
.begin-order-default .container .wrapper .touch-icon {
    height: 128px;
    margin-bottom: 24px;
}
.begin-order-default .container .wrapper .touch-icon-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-weight: 400;
}
.begin-order-default .container .powered-by-tabin-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.begin-order-default .container .powered-by-tabin-wrapper .powered-by-text {
    font-weight: 400;
    padding-bottom: 6px;
}
.begin-order-default .container .powered-by-tabin-wrapper .tabin-text {
    font-size: 30px;
    font-style: italic;
}
