.customer-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 152px;

    .close-button-wrapper {
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;

        .close-button {
            color: #484848;
        }
    }

    .customer-signature-canvas {
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        width: 400px;
        height: 200px;

        &.error {
            border: 1px solid var(--error-color);
            background-color: hsl(var(--error-hue), var(--error-saturation), 98%);
        }
    }

    .customer-signature-clear-button {
        background-color: #e0e0e0;
        border: 1px solid #484848;
        color: #484848;
        padding: 8px 12px;
        font-size: 14px;
    }
}
