.order-type {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 128px;
}
.order-type .imagesWrapper {
    display: flex;
    text-align: center;
    margin-bottom: 32px;
}
.order-type .imagesWrapper .dineinImage {
    height: 250px;
}
.order-type .imagesWrapper .takeawayImage {
    height: 250px;
}
