.payment-method {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 128px;

    .close-button-wrapper {
        position: absolute;
        top: 32px;
        right: 32px;
        cursor: pointer;

        .close-button {
            color: #484848;
        }
    }

    .payment-method-payment-button-wrapper {
        display: flex;
        gap: 16px;

        .payment-method-cash-button {
            width: 350px;
            background-color: var(--background-color);
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }

        .payment-method-eftpos-button {
            width: 350px;
        }

        .payment-method-cash-button.selected {
            background-color: var(--primary-color);
            color: var(--background-color);
        }
    }
}
