.sales-report-wrapper {
    background-color: #ffffff;
    min-height: 100vh;

    .sales-report {
        max-width: 1200px;
        margin: 0 auto;

        .report-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 16px;
        }

        .item1 {
            grid-column: span 3 / auto;
        }

        // .item2 {
        //     grid-column: span 1 / auto;
        // }
        .report-sales-value-wrapper {
            display: grid;
            grid-gap: 5px;
        }

        .item3 {
            grid-column: span 3 / auto;
        }

        // .item4 {
        //     grid-column: span 1 / auto;
        // }

        .item5 {
            grid-column: span 2 / auto;
        }

        .top-item-container {
            display: flex;
            align-items: center;

            .top-item-image {
                flex: 1;

                img {
                    height: 100px;
                }
            }

            .top-item-details {
                flex: 1;
            }
        }

        .item6 {
            grid-column: span 2 / auto;
        }

        @media screen and (max-width: 1200px) {
            .item1 {
                grid-column: span 1 / auto;
            }

            .item2 {
                grid-column: span 1 / auto;
            }

            .item3 {
                grid-column: span 1 / auto;
            }

            .item4 {
                grid-column: span 1 / auto;
            }

            .item5 {
                grid-column: span 1 / auto;
            }

            .item6 {
                grid-column: span 1 / auto;
            }
        }
    }
}
