.stock-container {
    padding: 48px;
    width: 700px;
    margin: auto;

    .tabs-wrapper {
        display: flex;

        .tab {
            padding: 16px 24px;
            background-color: #eeeeee;
            flex: 1;
            cursor: pointer;
        }

        .selected {
            color: #ffffff;
            background-color: var(--primary-color);
        }
    }

    .item-name {
        padding: 24px 0;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .item-name:first-child {
        border-top: 1px solid #ebebeb;
    }

    .item-stock-container {
        background-color: #eeeeee;
        padding: 0 16px 16px 16px;

        .checkbox-container {
            display: inline-flex;
        }

        .available-quantity-stepper-container {
            display: flex;
            align-items: center;
        }
    }

    .availability-button-container {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;

        .unselected {
            background-color: #ffffff;
            color: black;
            border: 1px solid #dddddd;
        }
    }
}
