.sales-analytics-wrapper {
    min-height: 100vh;

    .sales-analytics {
        max-width: 1200px;
        margin: 0 auto;

        .sales-analytics-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .sales-analytics-back-button-wrapper {
                display: flex;
                align-items: center;

                @media screen and (max-width: 768px) {
                    margin-bottom: 24px;
                }

                .sales-analytics-back-button {
                    cursor: pointer;
                }
            }

            .sales-filter-icon {
                border-radius: 8px;
                padding: 16px;
                border: 1px solid #e0e0e0;
            }

            .sales-filter-icon-on {
                background: var(--primary-color);
            }
        }

        .sales-filters {
            border-radius: 8px;
            padding: 16px;
            border: 1px solid #e0e0e0;
            display: block;
            align-items: baseline;

            .filters {
                display: flex;
                align-items: baseline;
            }

            @media screen and (max-width: 768px) {
                .filters {
                    display: block;
                    margin: 8px 0;
                }

                .filter {
                    margin: 8px 0;
                }
            }
        }
    }
}
