.sales-analytics-wrapper {
    min-height: 100vh;

    .sales-analytics {
        max-width: 1200px;
        margin: 0 auto;

        .sales-analytics-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .sales-analytics-back-button-wrapper {
                display: flex;
                align-items: center;

                @media screen and (max-width: 768px) {
                    margin-bottom: 24px;
                }

                .sales-analytics-back-button {
                    cursor: pointer;
                }
            }
        }
    }
}
